<%= render 'gift_choices_form', :checkout_form => checkout_form %>
<%= render 'gift_message_form', :checkout_form => checkout_form %>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
</div>
